# Android / IntelliJ
# IDE
*.iml
/.idea/
/.kotlin/

# Gradle
.gradle/
/local.properties

# Build outputs
/build/
/app/build/
/captures/

# Native builds
.externalNativeBuild/
.cxx/

# OS files
.DS_Store
Thumbs.db

# Packages / artifacts
*.apk
*.ap_
*.aab

# Logs and dumps
*.log
*.hprof

# Kotlin/Java
/out/

# Keep Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar
